src/test/resources/asynch-mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
      xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
      xmlns:fix="http://www.mulesoft.org/schema/mule/fix"

      xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
       http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/3.2/mule-bpm.xsd
       http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/3.2/mule-quartz.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
       http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/3.2/mule-ajax.xsd
       http://www.mulesoft.org/schema/mule/fix http://www.mulesoft.org/schema/mule/fix/mule-fix.xsd
       ">

	<vm:connector name="vmConnector" />
	<fix:connector name="fixConnector" config="./target/test-classes/org/mule/transport/fix/general/initiator-acceptor-in-same-config.cfg"/>
	<fix:endpoint name="banzai" sessionID="FIX.4.1:BANZAI--EXEC" />
    <flow name="ExecutorListen">
        <fix:inbound-endpoint sessionID="FIX.4.1:EXEC-%3EBANZAI" />
        <logger message="#[payload]"/>
        <outbound-endpoint address="vm://toTest" />
    </flow>
</mule>